fldigi-*.gem
hamnet-*.gem
update.ksh
index.md
index.html
index.html.orig
release_checklist.*
functions.*
hamale.md
hamale.html
uuclient.rb
*.log
images/*
hamnet.extra.rb
modems.txt
test_*
allbands.ksh
api.txt
ui.rb
psksms.rb
sample.ping*
